        </div>
        <footer><p>
            Maintained at <a href='https://codeberg.org/fakefred/usable-technology'>usable-technology on codeberg</a>
            by <a href='mailto:fakefred@protonmail.ch'>fakefred@protonmail.ch.</a>
            Feedback and corrections on factual errors are welcome.
        </p></footer>
    </body>
</html>
