body {
  position: relative;
  left: 50%;
  max-width: 780px;
  margin-left: -390px;
  font-size: 1em;
  font: 18px/1.5 "Noto Sans", Roboto, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif;
  background-color: #96a8c8;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #19202b;
        color: #ddd;
    }
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1,
nav {
  font-variant: small-caps;
}

a {
  text-decoration: none;
  color: #566888;
}

@media (prefers-color-scheme: dark) {
    a {
        color: #7b91be;
    }
}

nav,
.main,
footer {
  border: solid 1px black;
  border-radius: 12px;
  background-color: white;
  padding: 12px 48px 12px 48px;
  margin-bottom: 12px;
}

@media (prefers-color-scheme: dark) {
    nav,
    .main,
    footer {
        background-color: #202836;
        color: #ddd;
    }
}

footer {
  text-align: center;
}

nav a {
  padding-right: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
